/// ===========================================
// LINKS
// ===========================================

// GLOBAL LINK STYLE
a, a:visited {
  color: $col-yel-fill;
  text-decoration: none;
  border-bottom: 1px solid $col-yel-fill;
}

a:hover {
  opacity: $hover-opacity;
}
