/*------------------------------------*\
  TYPE
\*------------------------------------*/

h1, h2, h3 {
  font-size: $font-size-32;
  margin-bottom: 1rem;
}

h3 {
  font-weight: $font-weight-normal;
}

p {
  font-size: $content-font-size;
  line-height: 1.45;
  margin-bottom: calc(1.45 * #{$content-font-size});

  @include bp1 {
    font-size: $content-font-size-sm;
    line-height: 1.45;
    margin-bottom: calc(1.45 * #{$content-font-size-sm});
  }

  &:last-child, &:only-child {
    margin-bottom: 0;
  }
}

// CONTROL LABELS
.control-bar__control-label, .control-bar__control-readout {
  font-size: $control-label-font-size;
  letter-spacing: 0.25px;
  line-height: $control-label-line-height;
  vertical-align: top;
}
//
// // GLOBAL ONBOARDING TEXT STYLE
// .onboarding__content {
//   font-size: 2rem;
//   margin-bottom: 0.5rem;
//   line-height: 1.25;
//   color: $white;
//   @include bp($bp-2) {
//     font-size: 1.5rem;
//   }
// }
